<h1><%= @deck.name %></h1>
<h2>Wrong Answer</h2>
<h3><%= @card.question %></h3>
<h3><%= @card.answer %></h3>
<% if @round.guesses.count == @deck.cards.count%>
<div>Game Finished!</div>
<a href="/deck/<%= @deck.id %>/play">Go to Results</a>
<% else %>
<a href="/deck/<%= @deck.id %>/play">Next Question</a>
<%end%>
