<div class="before-game">

<h1><%= @deck.name %></h1>
<h2>Number of Cards: <%= @deck.cards.count %></h2>
<h2>Times played: <%= @rounds.count %></h2>
<br/>
<ul><li>
<form action="/deck/<%= @deck.id %>/play" method="get"><input class="index-button" type="submit" value="<%= @new_game ? "Play" : "Continue" %>"></form>
</li>
</ul>

</div>
