<h1><%= @deck.name %></h1>
<h4>Number of Cards: <%= @deck.cards.count %></h4>
<span>Times played: <%= @rounds.count %></span>
<br/>
<a href="/deck/<%= @deck.name %>/play"><%= @new_game ? "Play" : "Continue" %></a>