<div class="tv">
  <h2><%= @deck.name %></h2>

  <% @notifications.each do |notif| %>
    <h2><%= notif %></h2>
  <% end %>

  <div class="progress"><%= @progress %>% Complete</div>
  <div><h3><%= @card.question %></h3></div>
  <div id="answer_box">
    <form id="answer" action="/card/<%= @card.id %>/answer" method="post">
      <span id="whatis">What is <input type="text" name="answer" /> ? </span>
      <input class="index-button" type="submit" value="Submit" />
    </form>
  </div>
</div>

